body{
    width: fit-content;
    height: fit-content;
}
.login_box{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
