.mycode{
    height: 100%;
    border-left: 2px solid rgb(0, 0, 0);
    margin: 20px 100px 0px 100px;
}
.div_left{
    float: left;
    width: 39%;
    height: 100%;
    /* background-color: rgb(122, 209, 231); */
    background:-webkit-gradient(linear,70% 0%, 20% 0% , from(rgb(130, 121, 189)),to(rgb(101, 224, 148)));
}
.div_right{
    float: right;
    width: 61%;
    height: 100%;
    /* background-color: rgb(122, 209, 231); */
    background:-webkit-gradient(linear,70% 0%, 20% 0% , from(rgb(122, 209, 231)),to(rgb(153, 143, 209)));
}
.div_index{
    text-indent: 2em;
    color: blue;
    cursor:pointer;
}
.div_main{
    color: blue;
    cursor:pointer;
}